	.section{
			font-size: 6em;
			text-align: center;
		}
	/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 5em;
		font-family: arial,helvetica;
		color: #fff;
		margin:0;
		padding:0;
	}
	#section0,
	#section1,
	#section2,
	#section3{
		background-size: cover;
	}

	/* Defining each section background and styles
	* --------------------------------------- */
	#section0{
		background-image: url(bg1.jpg);
	}
	#section1{
		background-image: url(bg1.jpg);
	}
	#section2{
		background-image: url(bg1.jpg);
	}
	#section3{
		background-image: url(bg1.jpg);

	}
	#name{
		font-family: 'Brush Script MT', cursive;
		font-size: 36px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		line-height: 32.3999996185303px;
		position: fixed;
		top:12px;
		left: 80px;
		color: white;

	}
	.button{
		font-family: 'Arial Narrow', Arial, sans-serif;
		font-size: 20px;
		font-style: normal;
		font-variant: normal;
		font-weight: 500;
		line-height: 26.3999996185303px;
		position: fixed;
		color: white;
		top:13px;
	}
	.button:hover{
		color: grey;
	}
	#Home
	{	
		right: 400px;
	}
	#About{
		right: 300px;
	}
	#Projects{
		right: 180px;
	}
	#Contact{
		right: 65px;
	}
	#Linked{
		position: fixed;
		bottom:13px;
		right:100px;
	}
	
	/* Fixed header and footer.
	* --------------------------------------- */
	#header{
		position:fixed;
		height: 30px;
		display:block;
		width: 100%;
		background-color:rgba(0,0,0,.5);
		z-index:9;
		text-align:center;
		padding: 20px 0 0 0;	
	}

	#footer{
		position:fixed;
		height: 30px;
		display:block;
		width: 100%;
		background-color:rgba(255,255,255,.5);
		z-index:9;
		color: #f2f2f2;
		padding: 20px 0 0 0;
		opacity: 0.4;
	}
	#Github{
		position: fixed;
		right: 130px;
		bottom:5px;
	}
	#Facebook{
		position: fixed;
		right: 50px;
		bottom:5px;	
	}
	#lin{
		position: fixed;
		right: 90px;
		bottom: 5px;
	}

	#header{
		top:0px;
	}
	#footer{
		bottom:0px;
	}
