	.section{
			font-size: 6em;
			text-align: center;
		}
	/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 5em;
		font-family: arial,helvetica;
		color: #fff;
		margin:0;
		padding:0;
	}
	#section0,
	#section1,
	#section2,
	#section3{
		background-size: cover;
	}

	/* Defining each section background and styles
	* --------------------------------------- */
	#section0{
		background-image: url(bg1.jpg);
	}
	#section1{
		background-image: url(bg1.jpg);
	}
	#section2{
		background-image: url(bg1.jpg);
	}
	#section3{
		background-image: url(bg1.jpg);

	}
	#section3 h1{
		color: #000;
	}

	/* Fixed header and footer.
	* --------------------------------------- */
	#header{
		position:fixed;
		height: 40px;
		display:block;
		width: 100%;
		background: white;
		z-index:9;
		text-align:center;
		color: #f2f2f2;
		padding: 20px 0 0 0;
		opacity: 0.4;
	}

	#footer{
		position:fixed;
		height: 30px;
		display:block;
		width: 100%;
		background: white;
		z-index:9;
		text-align:center;
		color: #f2f2f2;
		padding: 20px 0 0 0;
		opacity: 0.4;
	}

	#header{
		top:0px;
	}
	#footer{
		bottom:0px;
	}


	/* Bottom menu
	* --------------------------------------- */
	#infoMenu {
		bottom: 80px;
	}
	#infoMenu li a {
		color: #fff;
		z-index: 999;
	}