
body {
	background: #eee !important;	
}

.wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
}
.Course-heading
{
	font-size: 30px;
	margin-bottom: 10px;
}
.Course-input{
  max-width: 480px;
  height: 700px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
}
.form-control{
	max-width: 300px;
	margin-top: 15px;
}  
.btn{
	margin-top: 15px;
	padding: 10px 8px;
	max-width: 145px;
    font-size: 12px;
    border-radius: 2px;
}
#available{
	display: none;
}
#notavailable{
	display: none;
}

